.idea
/target
data/geojson
data/*.bin
data/osm/belgium-latest.osm.pbf
data/osm/france-latest.osm.pbf
data/osm/united-kingdom-latest.osm.pbf
data/uk
data/be
flamegraph.svg
.env.local
results
dhat-heap.json
.cache
